<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%= startingText %></p>
<% Posts.forEach(function(post){ %>
  <h1> <%= post.Ptitle %> </h1>
  <p> <%= post.Pbody.substring(0, 100) + " ..." %> </p>
<% }); %>
<%- include("partials/footer"); -%>
